{{- with .cxt}} {{/* Apply proper context from dict */}}
{{- if (and .Params.video_url (not $.isHidden)) }}
<figure class="entry-cover">
    {{- if .Params.video_type }}
      {{- if eq .Params.video_type "youtube" }}
        {{- $videoId := index (split .Params.video_url "v=") 1 }}
        {{- $videoId = index (split $videoId "&") 0 }}
              <iframe src="https://www.youtube.com/embed/{{ $videoId }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      {{- else if eq .Params.video_type "vimeo" }}
        {{- $videoId := index (split .Params.video_url "vimeo.com/") 1 }}
        {{- $videoId = index (split $videoId "?") 0 }}
        <iframe src="https://player.vimeo.com/video/{{ $videoId }}" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
      {{- else }}
        <video controls>
          <source src="{{ .Params.video_url }}" type="video/{{ .Params.video_type }}">
          Your browser does not support the video tag.
        </video>
      {{- end }}
    {{- else }}
      <video controls>
        <source src="{{ .Params.video_url }}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    {{- end }}
</figure>
{{- end }}{{/* End video */}}
{{- end -}}{{/* End context */ -}}
